<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

   <!-- The Core assembly has the application console. -->
   <extensions>
      <add assembly="Core" />
   </extensions>

   <targets>

      <!-- Default application log file. -->
      <target name="file"
              xsi:type="File"
              fileName="${basedir}/Logs/Renfrew.log"
              layout="${longdate} [${level:uppercase=true:padding=-5}] ${callsite} - ${message} ${exception:format=Message,Type,StackTrace,Data:separator=\r\n:maxInnerExceptionLevel=10 }"
              archiveFileName="${basedir}/logs/renfrew-{#}.log"
              archiveNumbering="Date"
              archiveEvery="Day"
              archiveDateFormat="yyyy-MM-dd" />

      <!-- Feed logs into the debugger. -->
      <target name="debugger"
              xsi:type="Debugger"
              layout="${level}: ${logger} -> ${message} ${exception:format=ToString,StackTrace}"/>

      <!-- Send logs to the application's own console. -->
      <target name="appconsole"
              xsi:type="InfoConsole"
              layout="- ${message} ${exception:format=ToString}${newline}" />

   </targets>

   <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
      <logger name="*" minlevel="Info"  writeTo="appconsole" />
      <logger name="*" minlevel="Debug" writeTo="debugger" />
   </rules>
</nlog>
